.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1 fr 1fr ;
    grid-template-rows: repeat(1fr 8);
    grid-template-areas: 
    "sidebar header header header"
    "sidebar header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main";
}

.header {
    grid-area: header;
}

.sidebar {
    grid-area: sidebar;
}

.main {
    grid-area: main;
}